name: Update MTG Images to DigitalOcean

on:
  schedule:
    - cron: '0 0 * * 0' # Runs once a week at midnight
  workflow_dispatch:      # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'


      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          # Add python-dotenv here
          pip install requests tqdm boto3 python-dotenv

      - name: Run Sync Script
        env:
          DO_ACCESS_KEY: ${{ secrets.DO_ACCESS_KEY }}
          DO_SECRET_KEY: ${{ secrets.DO_SECRET_KEY }}
          DO_SPACE_NAME: "mtg-image"
          DO_REGION: "sfo3"
        # Ensure this path matches your directory structure
        run: python scripts/scraper.py
